<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
      
      <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      		<property name="locations" value="classpath:apache-camel.properties"></property>
      </bean>
      
      <!-- JMS initial context lookup properties -->
      <bean id="lookupProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
      		<property name="properties">
      			<props>
      				<prop key="java.naming.factory.initial">com.tibco.tibjms.naming.TibjmsInitialContextFactory</prop>
      				<prop key="java.naming.provider.url">tcp://bga-ux-tbd1:7222</prop>
      				<prop key="SM_USER">cnyelam</prop>
      			</props>
      		</property>
      </bean>

       <bean id="jmsQueueConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
       		<property name="jndiName" value="XAQueueConnectionFactory"></property>
       		<property name="jndiEnvironment" ref="lookupProperties"></property>
       </bean>
       
       <!-- EJB initial context lookup properties -->
       <bean id="initialContextFactoryProps" class="java.util.Properties">
			<constructor-arg>
				<props>
					<prop key="org.omg.CORBA.ORBClass">com.ibm.CORBA.iiop.ORB</prop>
					<prop key="java.naming.factory.initial">com.ibm.websphere.naming.WsnInitialContextFactory
					</prop>
					<prop key="java.naming.factory.url.pkgs">com.ibm.ws.naming</prop>
					<prop key="java.naming.provider.url">${java.naming.provider.url.ejb}</prop>
				</props>
			</constructor-arg>
		</bean>
		
       <bean id="ejbComponent" class="org.apache.camel.component.ejb.EjbComponent">
       		<property name="properties" value="initialContextFactoryProps"/>
       </bean>
       
       <camelContext id="jmsCamelRoute" xmlns="http://camel.apache.org/schema/spring">
			<route>
				<from uri="jms:queue:BUNGE.BUS.EMPLOYEE.TO.HRIS-AGGREGATION.QUEUE" />
				<to uri="bean:myBean?method=appendCamel"/>
				<to uri="stream:out" />
			</route>			
		</camelContext>
		
		<camelContext id="ejbCamelRoute" xmlns="http://camel.apache.org/schema/spring">
			<route>
				<from uri="direct:start"></from>
				<to uri="ejb:ejb/bce/Counterparty/CounterpartyReadServiceFacadeHome!CounterpartyReadServiceFacadeRemote?method=getLegalAddress"/>
				<to uri="stream:out" />
			</route>			
		</camelContext>
		
		<bean id="myBean" class="com.bunge.camel.MyBean" />
		
		
</beans>